.tickets{
    margin-left: 10px;
    position: absolute;
}

.children-image{
    position: absolute;
    right: 0;
    max-height: 225px;
    opacity: 1;
    mask-image: linear-gradient(to left, rgba(0, 0, 0, 1.0), transparent);
}