.root {
  background-color: #2d3748;
}

.selected {
  background-color: #555b70;
}

.navItem {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  color: #a9abaf;

  &:hover {
    cursor: pointer;
    background-color: #555b70;
  }
}
