.root {
  width: 20em;
  height: 40em;
  display: grid;
  grid-template-rows: 120px 1fr max-content;
  padding: 1em;
  border: 1px solid #c7d5dc;
}

.avatar {
  display: flex;
  justify-content: center;
}
.formField{
  margin-bottom: 5px;
}
.footer {

}
